<!DOCTYPE html>
<html>
<head>
    <title>Museo di Pomezia - Conferma Inserisci Collezione</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/inserisciCollezione.css">
    <!--color palette https://www.color-hex.com/color-palette/105136 -->
</head>
<head th:replace="fragments/base.html :: headBase"></head>

<body>

    <div th:replace="fragments/baseAdmin.html :: intestazione">Fragment intestazione</div>
    
    <header>
        <img alt="Sfondo dell'header" src="/images/quadri-header.jpeg">
        <h2>Conferma i dati della collezione</h2>
        <i class="fas fa-chevron-down fa-4x"></i>
    </header>
    
    <section>
	    <div>
			<form>
				<div>
					<span>Nome della collezione: </span>
					<span th:text="${nuovaCollezione.nome}">nome</span>
				</div>
				<div>
					<span>Breve descrizione: </span>
					<span th:text="${nuovaCollezione.descrizione}">descrizione</span>
				</div>
				<div>
					<span>Nome curatore: </span>
					<span th:text="${nuovaCollezione.curatore.nome}">nome curatore</span>
				</div>
				<div>
					<span>Cognome curatore: </span>
					<span th:text="${nuovaCollezione.curatore.cognome}">cognome curatore</span>
				</div>
				<div>
					<span><a class="conferma" href="admin/adminHome" th:href="@{/confermaDatiCollezione}"><h3>Conferma</h3></a></span>
				</div>
			</form>
		</div>
    </section>
    
    <div th:replace="fragments/base.html :: fondoPagina">Fragment fondo pagina</div>

</body>

</html>