<!DOCTYPE html>
<html>

<head>
    <title>Museo di Pomezia - Opere</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- mantengo lo stesso css della home perché va bene -->
    <link rel="stylesheet" href="/css/home.css">
    <!--color palette https://www.color-hex.com/color-palette/105136 -->
</head>
<head th:replace="fragments/base.html :: headBase"></head>

<body>

    <div th:replace="fragments/base.html :: intestazione">Fragment intestazione</div>
    
    <header>
        <img alt="Sfondo dell'header" src="/images/quadri-header.jpeg">
        <h2>Le nostre opere</h2>
        <i class="fas fa-chevron-down fa-4x"></i>
    </header>

    <section class="sectionChiara" th:each="opera : ${opere}">
    	<!-- aggiungere il percorso dell'immagine' -->
        <img alt="Immagine dell'opera" src="" th:src="${opera.immagine}">
        <div>
        	<a href="opera.html" th:href="@{'/opera'+'/'+${opera.id}}">
            	<h3 th:text="${opera.titolo}">Nome opera</h3>
            </a>
            <p th:text="${opera.descrizione}">Descrizione dell'opera'</p>
        </div>
    </section>

    <div th:replace="fragments/base.html :: fondoPagina"></div>
    
</body>

</html>